<div class="collection-SubMenu-Section h-full flex flex-nowrap p-0 shadow-lg align-middle" style="background-color:{{ brandColor }};">
<div id="collection-SubMenu" class="w-full h-full flex-cols-1">
  <div class="block w-1/6 flex text-left pt-2 pb-2 drop-shadow brandbox svg-logo h-full">
    <button class="hover: bounce;" onclick="location.href='{{ currentBrand | within:collection }}';">
    {% capture collectionSVG %}collection.{{ currentBrand }}.metafields.make.svg_data.value{% endcapture %} 
    {{ collectionSVG }}
    </button>
  </div>
  <!--<div class="bendybox-45 ml-12" style="margin-top: -8px">&nbsp;</div>-->
  <div class="align-middle">
    <div class="block h-full w-full make-menu text-left md:pl-2 sm:pl-1 lg:pl-4 align-middle mt-0">
    <span>&nbsp;&nbsp;
      {% for things in typeArray %}
      {% if request.path contains things %} 
      	<a href="#{{ things | downcase }}" class="active:color-black submenu-link">{{ things | upcase }}</a>
      {% else %}
		<a style="color:black;font-weight:500;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);" href="{{ currentBrand | within:collection }}/{{ things }}">{{ things }}</a>
      	&nbsp;&nbsp;•
      {% unless forloop.last %}
      &nbsp;<span style="margin-top:15px !important;font-weight:900;">.</span>&nbsp;   
      {% endunless %}
      {% endif %}
      {% endfor %}
    </span>
</div>
    </div>
</div>
</div>