{% comment %}
    Renders product media

    Accepts:
    - media: {Object} Product Media object
    - loop: {Boolean} Enable video looping (optional)
    - variant_image: {Boolean} The media associated with a variant

    Usage:
    {% render 'product-media',
      media: media,
      loop: section.settings.enable_video_looping,
      variant_image: true
    %}
{% endcomment %}

{%- if media.media_type == 'image' -%}
  <img
    srcset="{%- if media.preview_image.width >= 550 -%}{{ media.preview_image | img_url: '550x' }} 550w,{%- endif -%}
            {%- if media.preview_image.width >= 1100 -%}{{ media.preview_image | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if media.preview_image.width >= 1445 -%}{{ media.preview_image | img_url: '1445x' }} 1445w,{%- endif -%}
            {%- if media.preview_image.width >= 1680 -%}{{ media.preview_image | img_url: '1680x' }} 1680w,{%- endif -%}
            {%- if media.preview_image.width >= 2048 -%}{{ media.preview_image | img_url: '2048x' }} 2048w,{%- endif -%}
            {%- if media.preview_image.width >= 2200 -%}{{ media.preview_image | img_url: '2200x' }} 2200w,{%- endif -%}
            {%- if media.preview_image.width >= 2890 -%}{{ media.preview_image | img_url: '2890x' }} 2890w,{%- endif -%}
            {%- if media.preview_image.width >= 4096 -%}{{ media.preview_image | img_url: '4096x' }} 4096w,{%- endif -%}
            {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
    sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
    src="{{ media.preview_image | img_url: '1445x' }}"
    alt="{{ media.alt | escape }}"
    loading="lazy"
    width="1100"
    height="{{ 1100 | divided_by: media.preview_image.aspect_ratio | ceil }}"
    data-media-id="{{ media.id }}"
    {% if variant_image %}class="product__media-item--variant"{% endif %}
  >
{%- else -%}
  {%- if media.media_type == 'model' -%}
    <div class="product-media-modal__model" data-media-id="{{ media.id }}">
      <product-model class="deferred-media media media--transparent" style="padding-top: min(calc(100vh - 12rem), 100%)">
  {%- else -%}
    <deferred-media class="deferred-media media" style="padding-top: min(calc(100vh - 12rem), {{ 1 | divided_by: media.aspect_ratio | times: 100 }}%)" data-media-id="{{ media.id }}">
  {%- endif -%}

    <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
      <span class="deferred-media__poster-button motion-reduce">
        {%- if media.media_type == 'model' -%}
          {%- render 'icon-3d-model' -%}
        {%- else -%}
          {%- render 'icon-play' -%}
        {%- endif -%}
      </span>
      <img
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
                {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
                {% if media.preview_image.width >= 550 %}{{ media.preview_image | img_url: '550x' }} 550w,{% endif %}
                {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
        src="{{ media | img_url: '550x550' }}"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        width="576"
        height="{{ 576 | divided_by: media.preview_image.aspect_ratio }}"
        alt="{{ media.preview_image.alt | escape }}"
      ><div class="product__info-wrapper flex grid-cols-1">
            <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
                {%- assign product_form_id = 'product-form-' | append: section.id -%}
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when '@app' -%}
                            {% render block %}
                        {%- when 'text' -%}
                            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                                {{- block.settings.text -}}
                            </p>
                        {%- when 'title' -%}
                            <h1 class="product__title text-4xl" {{ block.shopify_attributes }}>
                                {{ product.title | escape }}
                            </h1>
                        {%- when 'price' -%}
                            <div class="no-js-hidden" id="price-{{ section.id }}" {{ block.shopify_attributes }}>
                                {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
                            </div>
                            <div {{ block.shopify_attributes }}>
                                {%- form 'product', product, id: 'product-form-installment', class: 'installment caption-large' -%}
                                    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                                    {{ form | payment_terms }}
                                {%- endform -%}
                            </div>
                        {%- when 'description' -%}
                            {%- if product.metafields.global.shortDescription == blank -%}
                                <div class="product__description rte w-4/5">
                                    {{ product.description }}
                                </div>
              					<script>
                                  fitmentDrawerVisable = false;
                                  function toggleFitmentDrawer() {
									console.log(document.getElementById('fitmentDrawer').style.display);
                                    console.log(fitmentDrawerVisable);
                                    if (fitmentDrawerVisable == true) {
                                      	document.getElementById('fitmentDrawer').style.display = "none";
                                      	document.getElementById('fitmentDrawer').style.opacity = "0";
                                      	fitmentDrawerVisable = false;
                                    	console.log(fitmentDrawerVisable);
                                    } else {
                                        document.getElementById('fitmentDrawer').style.display = "block";
                                      	document.getElementById('fitmentDrawer').style.opacity = "100";
                                      	fitmentDrawerVisable = true;
                                    	console.log(fitmentDrawerVisable);
                                    }
                                  }
              					</script>
        	                    <div id="fitmentButton">
                                    <button type="button" class="button" enabled id="toggleFitmentButton" onclick="toggleFitmentDrawer()">
                                    	See Fitment Chart...
                                  	</button>
                                    	
        	                    </div>
                            {%- endif -%}
                        {%- when 'collapsible_tab' -%}
                            <div class="product__accordion accordion" {{ block.shopify_attributes }}>
                                <details>
                                    <summary>
                                        <div class="summary__title">
                                            {% render 'icon-accordion', icon: block.settings.icon %}
                                            <h2 class="h4 accordion__title">
                                                {{ block.settings.heading | default: block.settings.page.title }}
                                            </h2>
                                        </div>
                                        {% render 'icon-caret' %}
                                    </summary>
                                    <div class="accordion__content rte">
                                        {{ block.settings.content }}
                                        {{ block.settings.page.content }}
                                    </div>
                                </details>
                            </div>
                        {%- when 'quantity_selector' -%}
                            <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>
                                <style>
                                    .product__info-container--sticky {
                                        position: static !important;
                                    }
                                </style>
                                <label class="form__label" for="Quantity-{{ section.id }}">{{ 'products.product.quantity.label' | t }}</label>
                                <quantity-input class="quantity">
                                    <button class="quantity__button no-js-hidden" name="minus" type="button">
                                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                        {% render 'icon-minus' %}
                                    </button>
                                    <input class="quantity__input" type="number" name="quantity" id="Quantity-{{ section.id }}" min="1" value="1" form="product-form-{{ section.id }}">
                                    <button class="quantity__button no-js-hidden" name="plus" type="button">
                                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                        {% render 'icon-plus' %}
                                    </button>
                                </quantity-input>
                            </div>
                        {%- when 'popup' -%}
                            <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.link_label | default: block.settings.page.title }}</button>
                            </modal-opener>
                            <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.link_label }}</a>
                        {%- when 'share' -%}
                            <share-button class="share-button" {{ block.shopify_attributes }}>
                                <button class="share-button__button button button--tertiary hidden">
                                    {% render 'icon-share' %}
                                    {{ 'general.share.share' | t }}
                                </button>
                                <details>
                                    <summary class="share-button__button button button--tertiary">
                                        {% render 'icon-share' %}
                                        {{ 'general.share.share' | t }}
                                    </summary>
                                    <div class="share-button__fallback">
                                        <div class="field">
                                            <input type="text" class="field__input" id="url" value="{{ shop.url | append: product.url }}" placeholder="{{ 'general.share.share_url' | t }}" onclick="this.select();" readonly>
                                            <label class="field__label" for="url">{{ 'general.share.share_url' | t }}</label>
                                        </div>
                                        <button class="button button--tertiary">
                                            {% render 'icon-clipboard' %}
                                            {{ 'general.share.copy_to_clipboard' | t }}
                                        </button>
                                        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status" aria-hidden="true">
                                            {{ 'general.share.success_message' | t }}
                                        </span>
                                    </div>
                                </details>
                            </share-button>
                            <script src="{{ 'share.js' | asset_url }}" defer="defer"></script>
                        {%- when 'variant_picker' -%}
                            {%- unless product.has_only_default_variant -%}
                                {%- if block.settings.picker_type == 'button' -%}
                                    <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <fieldset class="js product-form__input">
                                                <legend class="form__label">{{ option.name }}</legend>
                                                {%- for value in option.values -%}
                                                    <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" name="{{ option.name }}" value="{{ value | escape }}" form="product-form-{{ section.id }}" {% if option.selected_value == value %}checked{% endif %}>
                                                    <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">{{ value }}</label>
                                                {%- endfor -%}
                                            </fieldset>
                                        {%- endfor -%}
                                        <script type="application/json">
                                            {{ product.variants | json }}
                                        </script>
                                    </variant-radios>
                                {%- else -%}
                                    <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                                        {%- for option in product.options_with_values -%}
                                            <div class="product-form__input product-form__input--dropdown">
                                                <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                                                <div class="select">
                                                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}" class="select__select" name="options[{{ option.name | escape }}]" form="product-form-{{ section.id }}">
                                                        {%- for value in option.values -%}
                                                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}</option>
                                                        {%- endfor -%}
                                                    </select>
                                                    {% render 'icon-caret' %}
                                                </div>
                                            </div>
                                        {%- endfor -%}
                                        <script type="application/json">
                                            {{ product.variants | json }}
                                        </script>
                                    </variant-selects>
                                {%- endif -%}
                            {%- endunless -%}       
                            <noscript>
                                <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                                    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                                    <div class="select">
                                        <select name="id" id="Variants-{{ section.id }}" class="select__select" form="product-form">
                                            {%- for variant in product.variants -%}
                                                <option
                                                    {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                                                    {% if variant.available == false %}disabled{% endif %}
                                                    value="{{ variant.id }}"
                                                >
                                                    {{ variant.title }}
                                                    {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                                                    - {{ variant.price | money | strip_html }}
                                                </option>
                                            {%- endfor -%}
                                        </select>
                                        {% render 'icon-caret' %}
                                    </div>
                                </div>
                            </noscript>
                        {%- when 'buy_buttons' -%}
                            <div {{ block.shopify_attributes }}>
                                <product-form>
                                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">              
                                        <div class="product-form__buttons">
                                            <button id="AddToCart" type="submit" name="add" class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                                                {%- if product.selected_or_first_available_variant.available -%}
                                                    {{ 'products.product.add_to_cart' | t }}
                                                {%- else -%}
                                                    {{ 'products.product.sold_out' | t }}
                                                {%- endif -%}
                                            </button>
                                            {%- if block.settings.show_dynamic_checkout -%}
                                                {{ form | payment_button }}
                                            {%- endif -%}
                                        </div>
                                    {%- endform -%}
                                </product-form>
      		                </div>                           
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
    </button>
    <template>
      {%- case media.media_type -%}
      {%- when 'external_video' -%}
        {%- assign video_class = 'js-' | append: media.host -%}
        {%- if media.host == 'youtube' -%}
          {{ media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy" }}
        {%- else -%}
          {{ media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy" }}
        {%- endif -%}
      {%- when 'video' -%}
        {{ media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none", autoplay: true }}
      {%- when 'model' -%}
        {{ media | media_tag: image_size: "2048x", toggleable: true }}
      {%- endcase -%}
    </template>

  {%- if media.media_type == 'model' -%}
      </product-model>
      <button
        class="button button--full-width product__xr-button"
        type="button"
        aria-label="{{ 'products.product.xr_button_label' | t }}"
        data-shopify-xr
        data-shopify-model3d-id="{{ media.id }}"
        data-shopify-title="title"
        data-shopify-xr-hidden
        >
        {% render 'icon-3d-model' %}
        {{ 'products.product.xr_button' | t }}
      </button>
    </div>
  {%- else -%}
    </deferred-media>
  {%- endif -%}
{%- endif -%}
