<!-- DETECT BRAND IN URL -->
{%- if request.page_type == "collection" -%}
	{% assign url_parts = request.path | split: "/" %}
{%- endif -%}

{%- if request.page_type == "product" -%}
	{% assign url_parts = request.path | split: "-" %}
{%- endif -%}


{% for part in url_parts %}
  {% case part %}
      {% when "polaris" %}
          {% assign currentBrand  = "polaris" %}
          {% assign brandColor = "#305799" %}
          {% break %}
      {% when "yamaha" %}
          {% assign currentBrand  = "yamaha" %}
          {% assign brandColor = "#CCCCCB" %}
          {% break %}
      {% when "can-am" %}
          {% assign currentBrand  = "can-am" %}
          {% assign brandColor = "#fdc832" %}
          {% break %}
      {% when "tracker" %}
          {% assign currentBrand  = "tracker" %}
          {% assign brandColor = "#262526" %}
          {% break %}
      {% when "honda" %}
          {% assign currentBrand  = "honda" %}
          {% assign brandColor = "#e0262f" %}
          {% break %}
      {% else %}
          {% assign currentBrand = "all" %}
          {% assign brandColor = "#ccc" %}
  {% endcase %}
{% endfor %}
<style>
  .collection-SubMenu-Section {
  	{%- case request.page_type -%}
    {%- when "index" -%}
    	display: none;
  	{%- else -%}	
    	display: block; 
  	{%- endcase -%}
  }
.brandbox {
	/*border-bottom: 4px solid black;
	box-shadow: 0px 10px 5px grey;*/
   min-width:100px
}
/*.bendybox-45 {
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    width:40px; 
    box-shadow: 10px 10px 5px grey;
    transform-origin: right top;
    transform: skewX(-45deg);
}*/
  
.svg_logo { 
  min-width:200px;  
  width:50%;
}
@media screen and (min-width: 750px) {
  .svg_logo { 
  min-width:200px;  
  width:16%;
}
}
@media screen and (min-width: 990px) {
  .svg_logo { 
  min-width:200px;  
  width:25%;
}
}
  
</style>
{% assign typeArray = "accents,accessories,audio,bumpers,cages,doors,lighting,roofs,winches" | split: ',' %}
<div class="collection-SubMenu-Section h-full flex flex-nowrap  p-0 shadow-lg" style="background-color:{{ brandColor }};">
<div id="collection-SubMenu" class="w-full h-full lg:flex lg:items-center">
  <div class="block sm:w-1/2 lg:w-1/6 lg:flex lg:text-left sm:text-center md:pl-4 sm:pl-2 lg:pl-12 pt-2 pb-2 drop-shadow brandbox svg-logo">
    <input type="button" class="hover: bounce;" onclick="location.href='{{ currentBrand | within:collection }}';">
    <div class="svg-wrapper flex sm:w-full md:w-full lg:1/6 justify-center">{{ collection.metafields.make.svg_data.value }}</div>
    </input>
  </div>
  <!--<div class="bendybox-45 ml-12" style="margin-top: -8px">&nbsp;</div>-->
  <div class="align-middle">
    <div class="block w-full make-menu sm:text-center lg:text-left sm:pl-1 lg:pl-4 mt-2">
    <span>&nbsp;&nbsp;
      {% for item in typeArray %}

      {% if request.path contains product_type %} 
      	<a style="color:black;font-weight:500;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      	&nbsp;&nbsp;•
      {% else %}
      	<a href="#{{ item | downcase }}">{{ item | upcase }}</a>
      {% unless forloop.last %}
      &nbsp;<span style="margin-top:15px !important;font-weight:900;">.</span>&nbsp;   
      {% endunless %}
      {% endif %}
     
      {% endfor %}
    </span>
</div>
    </div>
</div>
</div>

