<section class="section">
<div class="jacobs-carousel">
<div class="carousel">
  <div class="carousel-cell"><img src="{{ product.featured_media | img_url: '500x500' }}"></div>
  <div class="carousel-cell"><img src="{{ product.featured_media | img_url: '500x500' }}"></div>
  <div class="carousel-cell"><img src="{{ product.featured_media | img_url: '500x500' }}"></div>
  <div class="carousel-cell"><img src="{{ product.featured_media | img_url: '500x500' }}"></div>
  <div class="carousel-cell"><img src="{{ product.featured_media | img_url: '500x500' }}"></div>
</div>
  </div>div>
</section>
<script>
var elem = document.querySelector('.jacobs-carousel .carousel');
var flkty = new Flickity( elem, {
  contain: true,
  imagesLoaded: true,
  lazyLoad: 3,
  wrapAround: false,
  pageDots: false,
});
{% if request.design_mode %}
  document.addEventListener("shopify:section:load", function(event) {
  var elem = document.querySelector('.jacobs-carousel .carousel');
var flkty = new Flickity( elem, {
  contain: true,
  imagesLoaded: true,
  lazyLoad: 3,
  wrapAround: false,
  pageDots: false,
});
 });
{% endif %}
</script>
{% schema %}
  {
    "name": "Jacobs Sandbox",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
.flickity-page-dots .dot {
  	background: {{ section.settings.navigation_color }};
  }
  .flickity-button-icon {
  	color: {{ section.settings.navigation_color }};
  }
{% endstylesheet %}

{% javascript %}


{% endjavascript %}