<style>
	/*.lifestyle-images-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381');
    	background-repeat: no-repeat;
      	background-position: center;
      	background-size: 100%, 100%;
		min-height: 200px;
    }*/
</style>
<section class="lifestyle-images-section w-full flex justify-center">
	<div class="lifestyle-images-content w-full">
    <img class="w-full" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381">
	</div>
  
  
  {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- assign productPictures = product.media | where: "media_type", "image" -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'" />
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'" />
{%- endif -%}
<script>
function swapImages(sent_img_src) {
	document.getElementById('bigIMG').src = sent_img_src;
}
</script>
<section class="w-full">
  <div class="product-wrapper w-full flex flex-wrap lg:flex-nowrap md:flex-wrap sm:flex-wrap justify-center lg:mt-12 md:-10 sm:mt-6">
  <!-- IMAGE VIEWER -->
	<div class="featured-image-section sm:w-full md:w-1/2 lg:w-1/2 flex flex-wrap justify-center lg:ml-20 md:ml-10 sm:ml-5 max-h-screen">
      <div class="w-full flex justify-center mx-auto">
      	<!-- Import the component -->
		      <div id="thumby-{{ forloop.index }}" class="mx-auto block">
                <img  src="{{ pic.src | img_url: "512x512" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ pic.src | img_url: "1024x1024" }}');" />
              </div>

<!-- Use it like any other HTML element -->
      <!--  <model-viewer style="width: 512px; height: 512px;" alt="" src="https://model3d.shopifycdn.com/models/o/f4d66bae17b469a3/Ranger_1000_FWB-front.glb" camera-controls="true" background-color="#f4f6f8" data-js-focus-visible="" ar-status="not-presenting" seamless-poster shadow-intensity="1" camera-controls></model-viewer>-->
<!--=<model-viewer style="width: 512px; height: 512px;" alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum" src="https://modelviewer.dev/shared-assets/models/NeilArmstrong.glb" ar ar-modes="webxr scene-viewer quick-look" environment-image="https://modelviewer.dev/shared-assets/environments/moon_1k.hdr" poster="https://modelviewer.dev/shared-assets/models/NeilArmstrong.webp" seamless-poster shadow-intensity="1" camera-controls></model-viewer>-->
      </div>
      
      <div id="thumbys" class="w-5/6 p-8 inline-flex fuxed">
        {% for pic in productPictures %}
        	{% if pic.alt contains "main" %}
              <div id="thumby-{{ forloop.index }}" class="mx-auto block">
                <img class="thumby" src="{{ pic.src | img_url: "250x250" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ pic.src | img_url: "1024x1024" }}');" />
              </div>
       		{% endif %}
        {% endfor %}
       		 <div id="thumby-{{ forloop.index | plus: 1 }}" class="mx-auto block">
                <img class="thumby" src="{{ first_3d_model.preview_image | img_url: "250x250" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ first_3d_model.preview_image | img_url: "1024x1024" }}');" />
              </div>
      </div>
    </div>
  
  
  
</section>
	
{% schema %}
  {
    "name": "Lifestyle Images",
    "settings": []
  }
{% endschema %}
