<style>
	/*.lifestyle-images-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381');
    	background-repeat: no-repeat;
      	background-position: center;
      	background-size: 100%, 100%;
		min-height: 200px;
    }*/
</style>
<section class="lifestyle-images-section w-full flex justify-center">
	<div class="lifestyle-images-content w-full">
        <div id="thumbys" class="w-5/6 p-8 inline-flex fuxed">
        {% for pic in productPictures %}
        	{% if pic.alt contains "lifestyle" %}
              <div id="thumby-{{ forloop.index }}" class="mx-auto block">
                <img class="thumby" src="{{ pic.src | img_url: "250x250" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ pic.src | img_url: "1024x1024" }}');" />
              </div>
       		{% endif %}
        {% endfor %}
       		 <div id="thumby-{{ forloop.index | plus: 1 }}" class="mx-auto block">
                <img class="thumby" src="{{ first_3d_model.preview_image | img_url: "250x250" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ first_3d_model.preview_image | img_url: "1024x1024" }}');" />
              </div>
      </div>
    </div>
    <img class="w-full" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381">
	</div>
</section>
	
{% schema %}
  {
    "name": "Lifestyle Images",
    "settings": []
  }
{% endschema %}
