<style>
	/*.lifestyle-images-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381');
    	background-repeat: no-repeat;
      	background-position: center;
      	background-size: 100%, 100%;
		min-height: 200px;
    }*/
</style>
<section class="lifestyle-images-section w-full flex justify-center">
	<!--<div class="lifestyle-images-content w-full">
    <img class="w-full" src="https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381">
	</div>-->
  
  
  {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- assign productPictures = product.media | where: "media_type", "image" -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'" />
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'" />
{%- endif -%}
<script>
function swapImages(sent_img_src) {
	document.getElementById('bigIMG').src = sent_img_src;
}
</script>
<section class="w-full">
  <div class="product-wrapper w-full flex flex-wrap "><!--lg:flex-nowrap md:flex-wrap sm:flex-wrap justify-center lg:mt-12 md:-10 sm:mt-6-->
  <!-- IMAGE VIEWER -->
	<div class=""><!--featured-image-section sm:w-full md:w-1/2 lg:w-1/2 flex flex-wrap justify-center lg:ml-20 md:ml-10 sm:ml-5 max-h-screen-->
      <div id="thumbys" class="w-full p-0 pt-8 inline-flex">
        {% for pic in productPictures %}
        	{% if pic.alt contains "lifestyle" %}
              <div id="thumby-{{ forloop.index }}" class="mx-auto block">
                <img class="thumby" style="width:512px" src="{{ pic.src | img_url: "1024x" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ pic.src | img_url: "1024x1024" }}');" />
              </div>
       		{% endif %}
        {% endfor %}
       		 <div id="thumby-{{ forloop.index | plus: 1 }}"  style="background-image:url({{ first_3d_model.preview_image | img_url: "250x250" }});" class="mx-auto block">
               <!-- <img class="thumby" src="{{ first_3d_model.preview_image | img_url: "250x250" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ first_3d_model.preview_image | img_url: "1024x1024" }}');" />-->
              </div>
      </div>
    </div></div>
  
  
  
</section>
	
{% schema %}
  {
    "name": "Lifestyle Images",
    "settings": []
  }
{% endschema %}
