<style>
	/*.lifestyle-images-content {
    	background-image: url('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/RANGER_1000_FWB-lifestyle-1.jpg?v=1640100381');
    	background-repeat: no-repeat;
      	background-position: center;
      	background-size: 100%, 100%;
		min-height: 200px;
    }*/
  
.flickity-page-dots .dot.is-selected {
   opacity: 1;
   width:18px;
   height:18px;
   background-image: url(https://cdn.shopify.com/s/files/1/0258/5424/6963/files/TF_youtube_watermark.png?v=1632164473);
   background-size:contain;
   margin-y:auto;
   border:1px solid #000;
   box-shadow: 0px 0px 15px #fa0000;
}
  
  
.flickity-page-dots .dot {
    display: inline-block;
    margin-y: auto;
    width: 11px;
    height: 11px;
    background-color:#fff;
    border-radius: 50%;
    opacity: .5;
    cursor: pointer;
}
  
.jacobs-carousel {
    /*background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
      background-size: 20px 20px; 
      background-color: #131313;*/
      background-color:#000;
  } 
}


</style>


{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- assign productPictures = product.media | where: "media_type", "image" -%}

<section class="section">
<div class="jacobs-carousel bg-black">
  <div class="main-carousel flex flex-col" data-flickity='{ "freeScroll": true, "wrapAround": true }'>
    <div class="carousel-cell w-full p-10">
		<div class="relative overflow-hidden max-w-full w-full" style="padding-bottom: 56.25%; height: 512px;">
    		<iframe class="absolute top-0 left-0 w-full h-full" src="{{ product.metafields.custom-video.custom_video | replace: '/watch?v=', '/embed/' }}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    	</div>
    </div>
    {% for pic in productPictures %}
    {% if pic.alt contains "lifestyle" %}
    <div class="carousel-cell">
      <div id="slide-{{ forloop.index }}" class="block w-auto">
        <img class="w-7/8 h-full" style="width:512px; height:512px;" src="{{ pic.src | img_url: "1024x" }}" alt="{{ pic.alt }}" onClick="swapImages('{{ pic.src | img_url: "1024x1024" }}');" />
      </div>  
    </div>
    {% endif %} 
    {% endfor %}

  </div>
</div>
</section>

{% schema %}
  {
    "name": "Lifestyle Images",
    "settings": []
  }
{% endschema %}




