{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<!-- DETECT BRAND IN URL -->
{% assign url_parts = request.path | split: "/" %}
{% for part in url_parts %}
{% case part %}
	{% when "polaris" %}
		{% assign currentBrand  = "polaris" %}
		{% assign brandColor = "#305799" %}
		{% break %}
	{% when "yamaha" %}
		{% assign currentBrand  = "yamaha" %}
		{% assign brandColor = "#CCCCCB" %}
		{% break %}
	{% when "can-am" %}
		{% assign currentBrand  = "can-am" %}
		{% assign brandColor = "#fdc832" %}
		{% break %}
	{% when "tracker" %}
		{% assign currentBrand  = "tracker" %}
		{% assign brandColor = "#262526" %}
		{% break %}
	{% when "honda" %}
		{% assign currentBrand  = "honda" %}
		{% assign brandColor = "#e0262f" %}
		{% break %}
	{% else %}
		{% assign currentBrand = "" %}
		{% assign brandColor = "#FFFFFF" %}
{% endcase %}
{% endfor %}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>

  <div class="page-width" id="main-collection-filters" data-id="{{ section.id }}">
    {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, collapse_on_larger_devices: section.settings.collapse_on_larger_devices %}
  </div>
{%- endif -%}

<div id="ProductGridContainer">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size == 0 -%}
      <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
        <div class="loading-overlay gradient"></div>
        <div class="title-wrapper center">
          <h2 class="title title--primary">
            {{ 'sections.collection_template.empty' | t }}<br>
            {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
          </h2>
        </div>
      </div>
    {%- else -%}
      <div class="collection page-width">
        <div class="loading-overlay gradient"></div>
        
        
        
  {% for product_type in collection.all_types %}
      {% unless product_type contains 'Option' %}
  
       <div style="background-color:#ccc;">   
        <span class="text-7xl font-medium" style="font-family:'Teko'">{{ product_type }}</span>   
          <ul id="product-grid" data-id="{{ section.id }}" class="grid grid-cols-2 negative-margin product-grid md:grid-cols-4 lg:grid-cols-4">      

          {% assign products = collection.products | where: "type", product_type %}     


                {% for product in products %}     

                  <li class="grid__item w-full align-center text-center">
                    {% render 'collection-card',
                      product_card_product: product,
                      media_size: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      add_image_padding: section.settings.add_image_padding,
                      show_vendor: section.settings.show_vendor,
                      show_image_outline: section.settings.show_image_outline,
                      show_rating: section.settings.show_rating,
                      brand_color: brandColor
                    %}
                  </li>
                {%- endfor -%}
          </ul>
        </div>
		<hr style="margin:5rem; border:1px solid #222; width:100%;">
        {%- endunless -%}
        {%- endfor -%}
        {%- if paginate.pages > 1 -%}
          {% render 'pagination', paginate: paginate, anchor: '' %}
        {%- endif -%}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>
<style>
.vtl-pr-review-stars-snippet__stars .vtl-pr-review-stars-snippet__empty-icons .vtl-pr-review-stars-snippet__full-icons::after {
  {% case brandColor %}
  {% when "#305799" %}
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+Cgk8Zz4KCQk8cmVjdCBmaWxsPSdub25lJyBpZD0nY2FudmFzX2JhY2tncm91bmQnIGhlaWdodD0nNDAyJyB3aWR0aD0nNTgyJyB5PSctMScgeD0nLTEnLz4KCTwvZz4KCTxnPgoJCTxwYXRoIHN0cm9rZT0nIzMwNTc5OScgZmlsbD0nIzMwNTc5OScgZmlsbC1ydWxlPSdub256ZXJvJyBzdHJva2Utd2lkdGg9JzUuNjA0ODM2JwoJCQkgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzQnIGlkPSdwYXRoNDM5NCcKCQkJIGQ9J201My4xNDgwMzIsNjIuNTYxMDQ0bC0xOC40NDU2NjMsLTkuNTA3MDg3bC0xOC4yODg4ODMsOS44MDUzMmwzLjM0MTc5OCwtMjAuNDgwNzM5bC0xNC45NzcwMjIsLTE0LjM2MzY1NGwyMC41MTEwMTUsLTMuMTUwNjhsOS4wMzI1NzEsLTE4LjY4MjY1N2w5LjMzNDY5NywxOC41MzM1NGwyMC41NTk0NjMsMi44MTcxOTRsLTE0Ljc0MTg0NywxNC42MDUwNWwzLjY3Mzg3LDIwLjQyMzcxM3onLz4KCTwvZz4KPC9zdmc+Cg==") !important;
  {% when "#fdc832" %}
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+Cgk8Zz4KCQk8cmVjdCBmaWxsPSdub25lJyBpZD0nY2FudmFzX2JhY2tncm91bmQnIGhlaWdodD0nNDAyJyB3aWR0aD0nNTgyJyB5PSctMScgeD0nLTEnLz4KCTwvZz4KCTxnPgoJCTxwYXRoIHN0cm9rZT0nI2ZkYzgzMicgZmlsbD0nI2ZkYzgzMicgZmlsbC1ydWxlPSdub256ZXJvJyBzdHJva2Utd2lkdGg9JzUuNjA0ODM2JwoJCQkgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzQnIGlkPSdwYXRoNDM5NCcKCQkJIGQ9J201My4xNDgwMzIsNjIuNTYxMDQ0bC0xOC40NDU2NjMsLTkuNTA3MDg3bC0xOC4yODg4ODMsOS44MDUzMmwzLjM0MTc5OCwtMjAuNDgwNzM5bC0xNC45NzcwMjIsLTE0LjM2MzY1NGwyMC41MTEwMTUsLTMuMTUwNjhsOS4wMzI1NzEsLTE4LjY4MjY1N2w5LjMzNDY5NywxOC41MzM1NGwyMC41NTk0NjMsMi44MTcxOTRsLTE0Ljc0MTg0NywxNC42MDUwNWwzLjY3Mzg3LDIwLjQyMzcxM3onLz4KCTwvZz4KPC9zdmc+Cg==") !important;
  {% when "#e0262f" %}
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+Cgk8Zz4KCQk8cmVjdCBmaWxsPSdub25lJyBpZD0nY2FudmFzX2JhY2tncm91bmQnIGhlaWdodD0nNDAyJyB3aWR0aD0nNTgyJyB5PSctMScgeD0nLTEnLz4KCTwvZz4KCTxnPgoJCTxwYXRoIHN0cm9rZT0nI2UwMjYyZicgZmlsbD0nI2UwMjYyZicgZmlsbC1ydWxlPSdub256ZXJvJyBzdHJva2Utd2lkdGg9JzUuNjA0ODM2JwoJCQkgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzQnIGlkPSdwYXRoNDM5NCcKCQkJIGQ9J201My4xNDgwMzIsNjIuNTYxMDQ0bC0xOC40NDU2NjMsLTkuNTA3MDg3bC0xOC4yODg4ODMsOS44MDUzMmwzLjM0MTc5OCwtMjAuNDgwNzM5bC0xNC45NzcwMjIsLTE0LjM2MzY1NGwyMC41MTEwMTUsLTMuMTUwNjhsOS4wMzI1NzEsLTE4LjY4MjY1N2w5LjMzNDY5NywxOC41MzM1NGwyMC41NTk0NjMsMi44MTcxOTRsLTE0Ljc0MTg0NywxNC42MDUwNWwzLjY3Mzg3LDIwLjQyMzcxM3onLz4KCTwvZz4KPC9zdmc+Cg==") !important;
  {% when "#CCCCCB" %}
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+Cgk8Zz4KCQk8cmVjdCBmaWxsPSdub25lJyBpZD0nY2FudmFzX2JhY2tncm91bmQnIGhlaWdodD0nNDAyJyB3aWR0aD0nNTgyJyB5PSctMScgeD0nLTEnLz4KCTwvZz4KCTxnPgoJCTxwYXRoIHN0cm9rZT0nI0NDQ0NDQicgZmlsbD0nI0NDQ0NDQicgZmlsbC1ydWxlPSdub256ZXJvJyBzdHJva2Utd2lkdGg9JzUuNjA0ODM2JwoJCQkgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzQnIGlkPSdwYXRoNDM5NCcKCQkJIGQ9J201My4xNDgwMzIsNjIuNTYxMDQ0bC0xOC40NDU2NjMsLTkuNTA3MDg3bC0xOC4yODg4ODMsOS44MDUzMmwzLjM0MTc5OCwtMjAuNDgwNzM5bC0xNC45NzcwMjIsLTE0LjM2MzY1NGwyMC41MTEwMTUsLTMuMTUwNjhsOS4wMzI1NzEsLTE4LjY4MjY1N2w5LjMzNDY5NywxOC41MzM1NGwyMC41NTk0NjMsMi44MTcxOTRsLTE0Ljc0MTg0NywxNC42MDUwNWwzLjY3Mzg3LDIwLjQyMzcxM3onLz4KCTwvZz4KPC9zdmc+Cg==") !important;
  {% when "#262526" %}
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNzAnIGhlaWdodD0nNzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+Cgk8Zz4KCQk8cmVjdCBmaWxsPSdub25lJyBpZD0nY2FudmFzX2JhY2tncm91bmQnIGhlaWdodD0nNDAyJyB3aWR0aD0nNTgyJyB5PSctMScgeD0nLTEnLz4KCTwvZz4KCTxnPgoJCTxwYXRoIHN0cm9rZT0nIzI2MjUyNicgZmlsbD0nIzI2MjUyNicgZmlsbC1ydWxlPSdub256ZXJvJyBzdHJva2Utd2lkdGg9JzUuNjA0ODM2JwoJCQkgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzQnIGlkPSdwYXRoNDM5NCcKCQkJIGQ9J201My4xNDgwMzIsNjIuNTYxMDQ0bC0xOC40NDU2NjMsLTkuNTA3MDg3bC0xOC4yODg4ODMsOS44MDUzMmwzLjM0MTc5OCwtMjAuNDgwNzM5bC0xNC45NzcwMjIsLTE0LjM2MzY1NGwyMC41MTEwMTUsLTMuMTUwNjhsOS4wMzI1NzEsLTE4LjY4MjY1N2w5LjMzNDY5NywxOC41MzM1NGwyMC41NTk0NjMsMi44MTcxOTRsLTE0Ljc0MTg0NywxNC42MDUwNWwzLjY3Mzg3LDIwLjQyMzcxM3onLz4KCTwvZz4KPC9zdmc+Cg==") !important;
  {% endcase %}
}
</style>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
