{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<!-- DETECT MAKE & MODEL IN URL -->
{% assign url_parts = request.path | split: "/" %}
{% for part in url_parts %}
{% case part %}
<!-- POLARIS -->
	{% when "polaris" %}
		{% assign currentBrand  = "polaris" %}
		{% assign brandColor = "#305799" %}
		{% break %}
	{% when "yamaha" %}
		{% assign currentBrand  = "yamaha" %}
		{% assign brandColor = "#CCCCCB" %}
		{% break %}
	{% when "can-am" %}
		{% assign currentBrand  = "can-am" %}
		{% assign brandColor = "#fdc832" %}
		{% break %}
	{% when "tracker" %}
		{% assign currentBrand  = "tracker" %}
		{% assign brandColor = "#262526" %}
		{% break %}
	{% when "honda" %}
		{% assign currentBrand  = "honda" %}
		{% assign brandColor = "#e0262f" %}
		{% break %}
	{% else %}
		{% assign currentBrand = "all" %}
		{% assign brandColor = "#ccc" %}
{% endcase %}
{% endfor %}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div id="ProductGridContainer">
	<div class="collection w-full align-center justify-items-center">
        <div class="loading-overlay gradient"></div>
        {% assign productsArray = collections.all.products %}
      	<!--<div>!!!! {{ productsArray.count }} !!!!</div>-->
      	{% assign typeArray = "accents,accessories,audio,bumpers,cages,doors,lighting,roofs,winches" | split: ',' %}
        {% for stuff in typeArray %}
              <div class="w-full grid justify-items-center" style="background: rgb(255,255,255); background: linear-gradient(0deg, rgba(255,255,255,1) 92%, rgba(145,145,145,1) 100%);">
                  <div class="w-3/4 justify-items-center pb-20"> 
                      <a name="{{ stuff }}" style="scroll-behavior: smooth;">&nbsp;<br /></a>
                      <div class="text-7xl text-left font-medium pt-5" style="margin-top:-35px;font-family:'Teko'">{{ stuff | upcase }}</div>
                          <ul id="product-grid"class="grid grid-cols-2 negative-margin product-grid md:grid-cols-4 lg:grid-cols-4">      
                              {% for product in productsArray %} 
                              	{% assign tempCat = product.metafields.global.category | downcase %}
                            	{% assign productMake = product.metafields.global.make | downcase %} 
                            	<!--<div>//{{ tempCat }}+{{ stuff }}+{{ productMake }}\\</div>-->
                                  {% if tempCat == stuff %}
                                  	{% if productMake == currentBrand or productMake contains currentBrand %}
                                      <li class="grid__item w-full align-center text-center">
                                        <div>++{{ product.metafields.global.make }}++{{ currentBrand }}</div>
                                          {% render 'collection-card',
                                              product_card_product: product,
                                              media_size: section.settings.image_ratio,
                                              show_secondary_image: section.settings.show_secondary_image,
                                              show_vendor: section.settings.show_vendor,
                                              show_image_outline: section.settings.show_image_outline,
                                              show_rating: false,
                                              brand_color: brandColor
                                          %}
                                      </li>
                            		{%- endif -%}
                                  {%- endif -%}           
                              {%- endfor -%}
                          </ul>
                  </div>
              </div>
       {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "make-collection-grid",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
