<style>
.slidecarousel-open:checked + .carousel-slide {
  position: static;
  opacity: 100;
}
.carousel-slide {
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
#slidecarousel-1:checked ~ .control-1,
#slidecarousel-2:checked ~ .control-2,
#slidecarousel-3:checked ~ .control-3 {
  display: block;
}
.slidecarousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
#slidecarousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#slidecarousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#slidecarousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet {
  color: #ffb317; /*Set to match the Tailwind colour you want the active one to be */
}
</style>
<section class="product-info-carousel bg-white font-sans leading-normal tracking-normal">
<div class="product-info-carousel-wrapper carousel relative shadow-2xl bg-white">
    <div class="carousel-inner relative overflow-hidden w-full">
      <!--Slide 1-->
      <input class="slidecarousel-open" type="radio" id="slidecarousel-1" name="slidecarousel" aria-hidden="true" hidden="" checked="checked">
      <div class="carousel-slide absolute opacity-0" style="height:75vh;">
        <div class="block h-full w-full bg-yellow-500 text-white text-5xl text-center">
          Cage Options
          <div class="variant-wrapper">
                
             <variant-radios class="selector_wrapper no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
               {%- for option in product.options_with_values -%}
               <legend class="form__label">{{ option.name }}</legend>
               <div class="js product-form__input flex">

                 {%- for value in option.values -%}
                 {%- for variant in product.variants -%}
                 {%- if variant.title contains value -%}
                 <div onmouseenter="swapImage('{{ variant.image | img_url: "1024x1024" }}');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                   <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" name="{{ option.name }}" value="{{ value | escape }}" form="product-form-{{ section.id }}" {% if option.selected_value == value %}checked{% endif %}>
                   <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">{{ value }}</label>
                 </div>
                 {%- break -%}
                 {%- endif -%}
                 {%- endfor -%}
                 {%- endfor -%}
               </div>
               {%- endfor -%}
               <script type="application/json">
                                                            {{ product.variants | json }} 
               </script>
             </variant-radios>
        </div>
          <div>
            <div class="selector_wrapper no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
              <div class="form__label">Cage Options</div>
              <div class="js product-form__input flex">

                <!-- GRAB HANDLES -->
                <div onmouseenter="swapImage('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/grab_handles-detail_369fd9cd-0bd8-4bd6-9e8e-447d9fd8da09.jpg?v=1640147566');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                  <input type="checkbox" id="has-grab-handles" name="has-grab-handles" value="has-grab-handles" onClick="tfupdatePrice();">
                  <label for="has-grab-handles">Grab Handles</label>
                </div>
                <!-- 5PT HARNESS -->
                <div onmouseenter="swapImage('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/5-point_harness_mounts-4-seat_f290310c-a858-42d2-97e3-16d0d4944313.jpg?v=1640147565');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                  <input type="checkbox" id="has-5pt-harness" name="has-5pt-harness" value="has-5pt-harness" onClick="tfupdatePrice();">
                  <label for="has-5pt-harness">5pt Harness</label>
                </div>
                <!-- Light bar Tab -->
                <div onmouseenter="swapImage('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/light_bar_tab.jpg?v=1640147566');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                  <input type="checkbox" id="has-light-bar" name="has-light-bar" value="has-light-bar" onClick="tfupdatePrice();">
                  <label for="has-light-bar">Light Bar Tab</label>
                </div>
                <!-- Whip Tab -->
                <div onmouseenter="swapImage('https://cdn.shopify.com/s/files/1/0258/5424/6963/files/whip_tab_d312b7be-0267-4453-8c8d-111e56cf488b.jpg?v=1640147565');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                  <input type="checkbox" id="has-whip-tab" name="has-whip-tab" value="has-whip-tab" onClick="tfupdatePrice();">
                  <label for="has-whip-tab">Whip Tab</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <label for="slidecarousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-yellow-500 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="slidecarousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!--Slide 2-->
      <input class="slidecarousel-open" type="radio" id="slidecarousel-2" name="slidecarousel" aria-hidden="true" hidden="">
      <div class="carousel-slide absolute opacity-0" style="height:75vh;">
        <div class="block h-full w-full bg-green-500 text-white text-5xl text-center">
          Slide 2
          
           <div class="variant-wrapper">
                
             <variant-radios class="selector_wrapper no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
               {%- for option in product.options_with_values -%}
               <legend class="form__label">{{ option.name }}</legend>
               <div class="js product-form__input flex">

                 {%- for value in option.values -%}
                 {%- for variant in product.variants -%}
                 {%- if variant.title contains value -%}
                 <div onmouseenter="swapImage('{{ variant.image | img_url: "1024x1024" }}');" onmouseleave="swapImage('{{ product.featured_image | img_url: "1024x1024" }}');">
                   <input type="radio" id="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}" name="{{ option.name }}" value="{{ value | escape }}" form="product-form-{{ section.id }}" {% if option.selected_value == value %}checked{% endif %}>
                   <label for="{{ section.id }}-{{ option.name }}-{{ forloop.index0 }}">{{ value }}</label>
                 </div>
                 {%- break -%}
                 {%- endif -%}
                 {%- endfor -%}
                 {%- endfor -%}
               </div>
               {%- endfor -%}
               <script type="application/json">
                                                            {{ product.variants | json }} 
               </script>
             </variant-radios>
        </div>
      </div>
      <label for="slidecarousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="slidecarousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!--Slide 3-->
      <input class="slidecarousel-open" type="radio" id="slidecarousel-3" name="slidecarousel" aria-hidden="true" hidden="">
      <div class="carousel-slide absolute opacity-0" style="height:75vh;">
        <div class="block h-full w-full bg-blue-500 text-white text-5xl text-center">Slide 3</div>
      </div>
      <label for="slidecarousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
      <label for="slidecarousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

      <!-- Add additional indicators for each slide-->
      <ol class="slidecarousel-indicators">
        <li class="inline-block mr-3">
          <label for="slidecarousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="slidecarousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
        <li class="inline-block mr-3">
          <label for="slidecarousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
        </li>
      </ol>

    </div>
</div>
</section>
{% schema %}
  {
    "name": "Product Info Carousel",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
