<style>
.related-products-title {
    font-size: 2rem;
    font-family: Rajdhani;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.related-products-content {
    font-family: Roboto;
    font-weight: normal;
    line-height: 1.6;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.related-products-wrapper {
    margin: 10px 0;
    padding: 20px;
    max-width: 100%;
    /*background: linear-gradient(180deg, #fff, #999, #ccc, #ccc, #ccc, #999, #fff);*/
    text-align: left;
    /*box-shadow: 7px 7px 10px #555;*/
}

.related-products-dummy {
    padding: 10 px;
    clear: both;
}

.related-products {
    display: inline-block;
}

.related-products-container {
    display: inline;
}

.related-products-image {
    min-width:150px;
    min-height:200px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 750px) {
    .related-products-image {
        height: 300px;
        width: 300px;
        margin: 10px;
        background-size: cover;
        background-position: center;
    }
}

.related-products-name {
    color: black;
    max-width: 300px;
    margin: 0 10px 0 10px;
    line-height: 1.2;
    font-size: 1.5rem;
    font-weight:400;
}

@media screen and (min-width: 750px) {
    .related-products-name {
        color: black;
        width: max-content;
        margin: 0 10px 0 10px;
        line-height: 1.2;
    }
}

.related-products-price {
    color: #ca0000;
    margin: 0 10px 0 10px;
    font-size: 1.5rem;
}

@media only screenand (min-device-width: 320px)and (max-device-width: 568px)and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) {
    .related-products {
        float: left; // do not remove    
        width: 50%; // do not remove    
    }

    .related-products-image {
        
        background-size: cover;
        background-position: center;
    }
}
</style>
<section class="related-products-section w-full flex flex-wrap mx-auto justify-center">
    <div class="related-products-title w-full text-3xl font-bold p-10">
        RELATED PRODUCTS
    </div>
    <div class="related-products-content w-full p-10">
        <div style="text-align:center; margin-top:2%;">
            <h2 style="font-size:2.5rem; text-align:center;">Companion products that go with your <span style="font-style:oblique; font-weight:700;">{{ product.title }}</span>...</h2>
            {% assign related_products = product.metafields.related-products %}
            {% if related_products.size > 0 %}
            <div class="related-products-wrapper grid sm:grid-cols-1 lg:grid-cols-3;">
                {% for field in related_products %}
                {% assign site_url = shop.url | append: "/products/" %}
                {% assign related_product_handle = field | last %}
                {% assign full_url = site_url | append: related_product_handle %}
                {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
                <a href="{{ all_products[related_product_handle].url }}">
                    <div class="related-products grid grid-cols-1 w-full">
                        <div class="related-products-image hover:shadow-2xl:shadow-white" style="background-image:url('{{ all_products[related_product_handle].featured_image | img_url: '300x' }}')"> </div>
                        <div class="related-products-container flex">
                            <div style="display:block;">
                              {%- if all_products[related_product_handle].metafields.global.display_name.value != nil -%}
                                <div class="related-products-name">{{ all_products[related_product_handle].metafields.global.display_name.value }}</div>
                              {%- else -%}
                                <div class="related-products-name">{{ all_products[related_product_handle].title }}</div>
                              {%endif%}
                                <div class="related-products-price">{{ all_products[related_product_handle].price | money }}</div>
                                <div class="related-products-desc">{{ products.metafields.global.features }}</div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            {%endif%}
        </div>
    </div>
</section>
{% schema %}
{
"name": "Related Products",
"settings": []
}
{% endschema %}