<section class="w-full related-carousel-section">
<div class="related-cards">
  <div class="related-carousel">
      {% assign related_products = product.metafields.related-products %}
            {% if related_products.size > 0 %}

                {% for field in related_products %}
                {% assign site_url = shop.url | append: "/products/" %}
                {% assign related_product_handle = field | last %}
                {% assign full_url = site_url | append: related_product_handle %}
                {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        <div class="related-carousel-cell">
          <a href="{{ all_products[related_product_handle].url }}">
            <img data-flickity-lazyload="{{ all_products[related_product_handle].selected_or_first_available_variant.featured_image | img_url: '300x300' }}"  border="0" />
            {%- if all_products[related_product_handle].metafields.global.display_name.value != nil -%}
            	<h4>{{ all_products[related_product_handle].metafields.global.display_name.value }}</h4>
            {%- else -%}
            	<h4>{{ all_products[related_product_handle].title }}</h4>
            {%- endif -%}
            	<h4>{{ all_products[related_product_handle].price | money }}</h4>
            <div class="related-product-btn">Shop Now</div>
            <div class="related-product-btn">Add To Cart</div>
          </a>
        </div>
      {% endfor %}
    {% endif %}
	</div>
</div>
</section>
{% assign nav_range = section.settings.navigation_amount %}
{% style %}
  @media only screen and ( min-width: 1201px ) {
    {% if nav_range == 2 %}
      .related-cards .related-carousel-cell {
          width: calc(49% - 10px);
      }
  	{% elsif nav_range == 3 %}
      .related-cards .related-carousel-cell {
      	width: calc(32% - 10px);
      }
  	{% elsif nav_range == 4 %}
      .related-cards .related-carousel-cell {
      	width: calc(24% - 10px);
      }
  	{% endif %}
  }
  .flickity-page-dots .dot {
  	background: {{ section.settings.navigation_color }};
  }
  .flickity-button-icon {
  	color: {{ section.settings.navigation_color }};
  }
{% endstyle %}
<script>
var elem = document.querySelector('.related-cards .related-carousel');
var flkty = new Flickity( elem, {
  contain: true,
  imagesLoaded: true,
  lazyLoad: 2,
  wrapAround: true,
  pageDots: false,
});
{% if request.design_mode %}
  document.addEventListener("shopify:section:load", function(event) {
  var elem = document.querySelector('.related-cards .related-carousel');
   var flkty = new Flickity( elem, {
      contain: true,
      imagesLoaded: true,
      lazyLoad: 2,
      wrapAround: true,
      pageDots: false,
    });
 });
{% endif %}
</script>
{% schema %}
{
  "name": "Related Products Carousel",
  "settings": [
  	{
      "type": "range",
      "id": "navigation_amount",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Change the number of cards in view"
  	},
    {
      "type": "color",
      "id": "navigation_color",
      "label": "Change color of the pagination|navigation|scrollbar"
    }
  ],
  	"presets": [
  		{
          "name": "Related Products Carousel",
          "category":"Custom"
  		}
  	]
  }
{% endschema %}