<section class="w-7/8 related-carousel-section pl-10 pr-10">
<div class="related-cards">
  <div class="carousel">
      {% assign related_products = product.metafields.related-products %}
            {% if related_products.size > 0 %}

                {% for field in related_products %}
                {% assign site_url = shop.url | append: "/products/" %}
                {% assign related_product_handle = field | last %}
                {% assign full_url = site_url | append: related_product_handle %}
                {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
                <div class="carousel-cell">
                  <a href="{{ all_products[related_product_handle].url }}">
                    <img data-flickity-lazyload="{{ all_products[related_product_handle].featured_media | img_url: '300x300' }}"  border="0" />
                    {%- if all_products[related_product_handle].metafields.global.display_name.value != nil -%}
                        <h4>{{ all_products[related_product_handle].metafields.global.display_name.value }}</h4>
                    {%- else -%}
                        <h4>{{ all_products[related_product_handle].title }}</h4>
                    {%- endif -%}
                        <h4>{{ all_products[related_product_handle].price | money }}</h4>
                    <div class="product-btn">Shop Now</div>
                    {% liquid render 'instant-add-to-cart', product_to_add: all_products[related_product_handle].selected_or_first_available_variant.id, quantity_to_add: 1, button_text: 'Add To Cart' %}
                  </a>
                </div>
      {% endfor %}
    {% endif %}
	</div>
</div>
</section>
{% assign nav_range = section.settings.navigation_amount %}
{% style %}
  
  .related-carousel-section .flickity-page-dots .dot {
  	background: {{ section.settings.navigation_color }};
  }
  .related-carousel-section .flickity-button-icon {
	display: none;
  	color: {{ section.settings.navigation_color }};
  }
{% endstyle %}
<script>
var elem = document.querySelector('.related-cards .carousel');
var flkty = new Flickity( elem, {
  contain: true,
  imagesLoaded: true,
  lazyLoad: 1,
  wrapAround: false,
  pageDots: false,
});
{% if request.design_mode %}
  document.addEventListener("shopify:section:load", function(event) {
  var elem = document.querySelector('.related-cards .carousel');
   var flkty = new Flickity( elem, {
      contain: true,
      imagesLoaded: true,
      lazyLoad: 1,
      wrapAround: false,
      pageDots: false,
    });
 });
{% endif %}
</script>
{% schema %}
{
  "name": "Related Products Carousel",
  "settings": [
  	{
      "type": "range",
      "id": "navigation_amount",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "Change the number of cards in view"
  	},
    {
      "type": "color",
      "id": "navigation_color",
      "label": "Change color of the pagination|navigation|scrollbar"
    }
  ],
  	"presets": [
  		{
          "name": "Related Products Carousel",
          "category":"Custom"
  		}
  	]
  }
{% endschema %}