<section>
<div class="h-full flex flex-wrap align-center justify-center text-center sticky p-4" style="background-color:{{ collection.metafields.make.svg_color.value }};">
<div id="collection-SubMenu" class="w-full h-full flex justify-center">
  <div class="block w-1/5 flex justify-center">
    {{ collection.metafields.make.svg_data.value }}
  </div>
  <div class="block w-full make-menu text-left pl-8 flex justify-center">
    <span>&nbsp;&nbsp;
      {% for product_type in collection.all_types %}
      {% unless product_type contains 'Option' %}
      {% if product.url contains product_type %} 
      <a style="color:red;" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      {% else %}
      <a href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      &nbsp;&nbsp;•&nbsp;   
      {% endif %}
      {% endunless %}          
      {% endfor %}
    </span>
</div>
</div>
</section>
{% schema %}
  {
    "name": "Collection Sub Menu",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
