{% assign url_parts = request.path | split: "/" %}
<!-- DETECT BRAND IN URL -->
{% for part in url_parts %}
{% case part %}
	{% when "polaris" %}
		{% assign brandColor = "#305799" %}
		{% break %}
	{% when "yamaha" %}
		{% assign brandColor = "#CCCCCB" %}
		{% break %}
	{% when "can-am" %}
		{% assign brandColor = "#fdc832" %}
		{% break %}
	{% when "tracker" %}
		{% assign brandColor = "#262526" %}
		{% break %}
	{% when "honda" %}
		{% assign brandColor = "#e0262f" %}
		{% break %}
	{% else %}
		{% assign brandColor = "#FFFFFF" %}
{% endcase %}

{% endfor %}
<style>
  {%- if request.page_type == "index" -%}
  	.collection-SubMenu-Section {
     display: none; 
    }
  {%- endif -%}
/*.brandbox {
	border-bottom: 4px solid black;
	box-shadow: 0px 10px 5px grey;
}
.bendybox-45 {
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    width:40px; 
    box-shadow: 10px 10px 5px grey;
    transform-origin: right top;
    transform: skewX(-45deg);
}*/
</style>
<section>
<div class="collection-SubMenu-Section h-full flex flex-nowrap align-center justify-center text-center p-0 shadow-lg" style="background-color:{{ brandColor }};">
<div id="collection-SubMenu" class="w-full h-full flex justify-center">
  <div class="block w-2/12 flex justify-center pl-12 drop-shadow brandbox">
    <input type="button" class="hover: bounce;" onclick="location.href='{{ collection.current_vendor | within:collection }}';">
    {{ collection.metafields.make.svg_data.value }}
    </input>
  </div>
  <div class="bendybox-45 ml-12" style="margin-top: -8px">&nbsp;</div>
  <div class="block w-full make-menu text-left pl-4 justify-center">
    <span>&nbsp;&nbsp;
      {% for product_type in collection.all_types %}
      {% unless product_type contains 'Option' %}
      {% if request.path contains product_type %} 
      	<a style="color:black;font-weight:500;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      	&nbsp;&nbsp;•&nbsp;
      {% else %}
      	<a href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      {% unless forloop.last %}
      &nbsp;&nbsp;•&nbsp;   
      {% endunless %}
      {% endif %}
      {% endunless %}          
      {% endfor %}
    </span>
</div>
</div>
</div>
</section>
{% schema %}
  {
    "name": "Collection Sub Menu",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
