{% capture url_parts %}{{ request.path | split: "/" }}{% endcapture %}
{% for part in url_parts %}
[part: {{ part }}]
{% case part %}
	{% when "polaris" %}
		{% assign brandColor = "#305799" %}
	{% when "yamaha" %}
		{% assign brandColor = "#305799" %}
	{% when "canam" %}
		{% assign brandColor = "#305799" %}
	{% when "tracker" %}
		{% assign brandColor = "#305799" %}
	{% when "honda" %}
		{% assign brandColor = "#305799" %}
	{% else %}
		{% assign brandColor = "#FFFFFF" %}
{% endcase %}
{% endfor %}


<section>
<div class="h-full flex flex-wrap align-center justify-center text-center sticky p-4" style="background-color:{{ brandColor }};">
<div id="collection-SubMenu" class="w-full h-full flex justify-center">
  <div class="block w-1/5 flex justify-center pl-4">
    {{ collection.metafields.make.svg_data.value }}
  </div>
  <div class="block w-full make-menu text-left pl-8 justify-center">
    <span>&nbsp;&nbsp;
      {% for product_type in collection.all_types %}
      {% unless product_type contains 'Option' %}
      {% if request.path contains product_type %} 
      	<a style="color:black;" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      	&nbsp;&nbsp;•&nbsp;
      {% else %}
      	<a href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      &nbsp;&nbsp;•&nbsp;   
      {% endif %}
      {% endunless %}          
      {% endfor %}
      {{ request.path }}
    </span>
</div>
</div>
</div>
</section>
{% schema %}
  {
    "name": "Collection Sub Menu",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
