{% assign url_parts = request.path | split: "/" %}
<!-- DETECT BRAND IN URL -->
{% for part in url_parts %}
{% case part %}
	{% when "polaris" %}
		{% assign brandColor = "#305799" %}
		{% break %}
	{% when "yamaha" %}
		{% assign brandColor = "#CCCCCB" %}
		{% break %}
	{% when "can-am" %}
		{% assign brandColor = "#fdc832" %}
		{% break %}
	{% when "tracker" %}
		{% assign brandColor = "#262526" %}
		{% break %}
	{% when "honda" %}
		{% assign brandColor = "#e0262f" %}
		{% break %}
	{% else %}
		{% assign brandColor = "#FFFFFF" %}
{% endcase %}

{% endfor %}

<section>
<div class="h-full flex flex-nowrap align-center justify-center text-center sticky p-0" style="background-color:{{ brandColor }};box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);">
<div id="collection-SubMenu" class="w-full h-full flex justify-center">
  <div class="block w-1/12 flex justify-center pl-12" style="z-index:99;">
    {{ collection.metafields.make.svg_data.value }}
  </div>
  <div class="block w-full make-menu text-left pl-8 justify-center">
    <span>&nbsp;&nbsp;
      {% for product_type in collection.all_types %}
      {% unless product_type contains 'Option' %}
      {% if request.path contains product_type %} 
      	<a style="color:black;font-weight:500;text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      	&nbsp;&nbsp;•&nbsp;
      {% else %}
      	<a href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
      {% unless forloop.last %}
      &nbsp;&nbsp;•&nbsp;   
      {% endunless %}
      {% endif %}
      {% endunless %}          
      {% endfor %}
    </span>
</div>
</div>
</div>
</section>
{% schema %}
  {
    "name": "Collection Sub Menu",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
