<section>
<div class="flex flex-wrap align-center justify-center text-center sticky" style="background-color:{{ collection.metafields.make.svg_color.value }};">
<div id="collection-SubMenu" class="w-full h-full grid auto-cols-fr grid-cols-2 flex bg-green-400 justify-center p-8">
  <div class="block w-1/6">{{ collection.metafields.make.svg_data.value }}</div>
	<div class="block w-full make-menu justify-center align-center text-center">
      <p>&nbsp;&nbsp;
        {% for product_type in collection.all_types %}
        {% unless product_type contains 'Option' %}
        {% if page.url contains product_type.current_product_type %} 
        <a style="color:red;" href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
        {% else %}
        <a href="{{ collection.current_vendor | within:collection }}/{{ product_type }}">{{ product_type }}</a>
         &nbsp;&nbsp;•&nbsp;   
        {% endif %}
        {% endunless %}          
        {% endfor %}
        {{ product_type.current_product_type }}
        </p>
</div>
</div>
</section>
{% schema %}
  {
    "name": "Collection Sub Menu",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
